*{
    margin: 0;
}

main{
   
 background-image: url("images/thumb-1920-1003220.png");
 padding-top:  3em;
 padding-bottom: 3em; 
 min-height: 85%;
 background-position: center;
 font-family: Arial, Helvetica, sans-serif;
}
body,html{
    background-color: grey;
    height: 100%;
}
header{
display: block;
position: fixed;
background-color: red;
width: 100%;
font-family: Arial, Helvetica, sans-serif;
padding:10px;
}

.columns{
    display: flex;
    
}
img {
    max-width: 100%;
    max-height: 100%;
}
.comic{
    width: 200px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
    border:solid 1px #ccc;
    height: 450px;
    
    
}
.comic img{
    width: 100% ;
}

.comic .title{
    font-weight: bold;
}
.comic .columns{
    width: 100%;
}

.comic .price{
    text-align: right;
}
.comic .columns div{
    width: 50%;
}

.comic button{
    background-color: red;
    padding: 10px;
    border:solid 1px red;
    border-radius: 3px;
    
  
    
    
}

.textbox{
    background-color: rgba(220, 220, 220, 0.8);
    height: fit-content;
    

}


nav a:visited,
nav a:link{
    color: white;
text-decoration: none;

}

nav > ul{
    display:inline;
    padding: 0;
}
nav > ul > li{
    display: inline-block;
    list-style: none;
    margin: 0x 5px 0 5px;
}
footer{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
@media only screen and (min-width: 768px){
    main{
        display: flex;
    }

    .columns-desktop{
        display: flex;
        
        
    }
}

